docs/n8n/workflow-duckclaw-bi-analyst-telegram.json
{
  "name": "DuckClaw BI Analyst → Gateway (8282)",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Telegram → POST al BI-Analyst-Gateway. Timeout HTTP 10 min (600000 ms) para análisis largos (SQL + sandbox). Tras importar: credenciales Telegram + URL base (Tailscale/puerto 8282) y tenant_id BI-Analyst. «Responder Telegram» usa sendMessage (solo texto): es normal que n8n marque éxito aunque el gráfico vaya por otro canal. El gateway envía el PNG con sendPhoto/sendDocument si TELEGRAM_BOT_TOKEN está en el entorno del proceso; en la respuesta JSON revisa sandbox_chart_delivered (true/false). Si ya tienes el flujo, en el nodo HTTP Request → Options → Timeout = 600000."
  },
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "tg-trigger-bi",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "duckclaw-bi-analyst-telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8282/api/v1/agent/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message?.text || '', chat_id: String($json.message?.chat?.id ?? ''), user_id: String($json.message?.from?.id ?? $json.message?.chat?.id ?? ''), username: ($json.message?.from?.username || $json.message?.from?.first_name || 'Usuario'), chat_type: ($json.message?.chat?.type || 'private'), tenant_id: 'BI-Analyst' }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "http-bi-gateway",
      "name": "DuckClaw API Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-reply-bi",
      "name": "Responder Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [560, 0]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "DuckClaw API Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DuckClaw API Gateway": {
      "main": [
        [
          {
            "node": "Responder Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "duckclaw-bi-analyst-v1"
}
